body {
    background-color: black;
    text-align: center;
    font-family: verdana, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    color: rgb(113, 255, 212);
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.app-description {
    color: gray;
    font-size: 21px;
}

footer p {
    text-align: right;
    color: gray;
}